<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/moviePage.css" type="text/css">
    <title>{{title}}</title>
</head>

<body>
    {{>header}}
    <main>
        <div id="moviePageData">
            <div>
                <img src="{{{img}}}" alt="{{{title}}}">
            </div>
            <div id="info">
                <h1 id="titleM">{{title}}</h1>
                <div id="genreContainer">
                    {{#each genre}}
                    <span>{{lookup ../genre @key}}</span>
                    {{/each}}
                </div>
                <hr>
                <p id="teaser">{{teaser}}</p>
                
                <h3>Download Links</h3>
                <div class="linksContainer">
                    {{#each torrents}}
                    <a href="{{{lookup ../torrents @key}}}">
                        <button>{{@key}}</button>
                    </a>
                    {{/each}}
                </div>
                <div class="linksContainer">
                    {{#each magnets}}
                    <a href="{{{lookup ../magnets @key}}}">
                        <button>{{@key}}</button>
                    </a>
                    {{/each}}
                </div>
                <div id="watchOnline">
                    <div id="watchHeading">
                    <h3>Watch Online</h3><span>Powered by <span><a href="https://webtor.io" target="_blank">Webtor</a></span></span>
                    </div>
                    <div class="watchLinks">
                        {{#each watch}}
                        <a href="watch/{{{lookup ../watch @key}}}?q={{{@key}}}" target="_blank">
                        <button>{{@key}}</button>
                        </a>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
    </main>
    {{>footer}}

</body>

</html>